site_name: SweetBean
repo_url: 'https://github.com/AutoResearch/sweetbean'
site_url: 'https://autoresearch.github.io/sweetbean/'
edit_uri: 'blob/main/docs/'

extra:
  colab_base_url: 'https://colab.research.google.com/github/AutoResearch/sweetbean/blob/gh-pages/'

theme:
  name: material
  # logo: img/logo.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: mkdocs/overrides
  features:
    - navigation.indexes
    - content.code.copy
    - announce.dismiss

  extra:
    social:
      - icon: fontawesome/brands/github-alt
        link: https://github.com/AutoResearch

extra_css:
  - styles.css

hooks:
  - mkdocs/hooks.py

watch:
  - src/sweetbean

plugins:
  - search
  - macros
  - gen-files:
      scripts:
        - mkdocs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://scikit-learn.org/stable/objects.inv
  - mkdocs-jupyter: # required to convert Jupyter notebooks
      include_source: true
      execute: false



markdown_extensions:
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - attr_list



extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


nav:
  - Introduction: 'index.md'
  - Installation & Compatibility: 'installation.md'
  - Basic Tutorials: Basic Tutorials/
  - Use Case Tutorials: Use Case Tutorials/
  - User Guide:
      - Home: 'User Guide/index.md'
      - Overview: 'User Guide/overview.md'
      - Timeline Variables: 'User Guide/timeline_variables.md'
      - Function Variables: 'User Guide/function_variables.md'
      - Data Variables: 'User Guide/data_variables.md'
      - Shared Variables And Side Effects: 'User Guide/shared_variables_and_side_effects.md'
      - LLM - Synthetic Participant: 'User Guide/llm_synthetic_participant.md'
      - Automated Generation of Stimulus Sequence Figures: 'User Guide/documentation_stimulus_sequence.md'
      - Stimuli: Stimuli/
  - Contributor Guide: 'CONTRIBUTING.md'
  - Code Reference: reference/
