[build-system]
requires=["hatchling"]
build-backend="hatchling.build"

[project]
name="sweetbean"
version="0.0.43"
authors=[{name="Younes Strittmatter", email="younes_strittmatter@brown.edu"},]
description="A declarative language in python for creating jsPsych experiments."
requires-python= ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
readme = "README.md"

[project.urls]
"Homepage" = "https://github.com/AutoResearch/sweetbean"
"Bug Tracker" = "https://github.com/AutoResearch/sweetbean/issues"